.app > h1  {
  text-align: center;
}

.container {
  position: relative;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.content {
  height: auto;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  width: 5px;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(131, 131, 251, .5);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.create {
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white !important;
}

.create > p {
  position: absolute;
  background-color: rgb(80, 80, 231);
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  padding-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 2.3rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, .5);
}

thead th {
  padding: 1rem;
}

tbody tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

tbody tr td{
  text-align: center;
  padding: .6rem 1rem;
  font-size: 1rem;  
}

.form {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  position: absolute;
  top: 20%;
  background-color: white;
  padding: 1rem;
  width: 18rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  animation: showForm 2s linear;
  -webkit-animation: showForm .36s linear;
}

@keyframes showForm {
  from {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
  to {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
}
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formGroup > label {
  color: gray;
  font-size: .9rem;
  margin-bottom: 0.3rem;
}

.formGroup > input {
  padding: .5rem;
  border: none;
  box-shadow: 0 0 3px -0.7px rgba(0, 0, 0, .5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.emptyInput {
  border: 1px solid rgb(238, 31, 31) !important;
  box-shadow: none !important;
}

.correctInput {
  border-color: rgb(54, 199, 54) !important;
}

.errorMessage {
  color: rgb(248, 46, 46);
  font-size: .85rem;
  margin: 0;
  margin-top: 2px;
}

.formGroup > input:focus {
  border: 1px solid gray;
  outline: none;
  box-shadow: none;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.btns > button {
  padding: .5rem;
  width: 5rem;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.saveBtn {
  background-color: rgb(54, 199, 54);
}

.cancelBtn {
  background-color: tomato;
}